body.vue {
    background: #8cd4b4;
    font-family: sans-serif;

    .text-center {
        text-align: center;
    }

    a {
        color: #095f38;
    }

    button {
        padding: 10px;
        display: inline-block;
    }

    table{
        border: 1px solid #ddd;
    }

    @keyframes ani{
        70% {
            top: -157px;
            filter: brightness(60);
        }
    }


    .gmk-logo {
        width: 120px;
        position: relative;
        top: 0px;
        filter: brightness(1);
        animation: ani 2s;
    }
}